.sectionMyself {}


.sectionIconsDescrip {}

.fondoMainLeft {
    font-size: 25px;

}


.fotoPerfil {
    width: 240px;
    border-radius: 50%;
}

.iconoDescrip {
    width: 90px;
}

@media (max-width: 850px) {
    .sectionMyself {
        flex-direction: column-reverse !important;
    }

    .sectionMyself a {
        width: 140px;

    }

}

@media (max-width: 550px) {

    .sectionMyself a {
        width: 70px !important;

    }

    .fotoPerfil {
        width: 150px;
    }

    .iconoDescrip {
        width: 50px;
    }
}