.slider {
    margin: auto;
    overflow: hidden !important;
    background-color: var(--secundary-Dark);


}

.slider .slider-track {
    display: flex;
    align-self: center;
    animation: scroll 25s linear infinite;
    width: calc(150px *16);
    -webkit-animation: scroll 25s linear infinite;

}

.slider .slide {
    margin: 30px;
    width: 100px;
}

.icons2 {
    width: 90px;
}

@keyframes scroll {
    0% {
        transform: translateX(calc(-100px * 9));
        -webkit-transform: translateX(calc(-100px * 9));
    }
}